[Desktop Entry]
Version=1.0
Type=Application
Name=App Outlet
GenericName=Binary Store
Comment=A Binary Application Store
Categories=Utility;
Keywords=binary;application;store;
TryExec=app-outlet
Exec=app-outlet
