[Desktop Entry]
Version=1.0
Type=Application
Name=Jitsi Meet
GenericName=Video Conference
Comment=A Video Conferencing App
Categories=Video;
Keywords=meeting;video;conference;
TryExec=jitsi-meet
Exec=jitsi-meet
