[Desktop Entry]
Type=Application
Name=Portal
# TRANSLATORS: Don't translate this text (this is icon name)
Icon=applications-system-symbolic
Exec=/usr/libexec/xdg-desktop-portal-gtk
NoDisplay=true
